.myPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 60%;
    z-index: 1000;
    box-shadow: 0 0 10px 1px var(--main-text-color);
    animation: modalGrow .3s ease-in-out;
    padding: 1.5%;
}

.myPokemon-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    text-transform: uppercase;
    color: var(--main-text-color);
    text-align: center;
    font-size: 2rem;
}

.myPokemon-id {
    color: var(--main-text-color);
    font-size: 3rem;
}

.myPokemon-content-container {
    height: 85%;
    width: 100%;
    display: flex;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}

.image-container {
    width: 50%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    max-width: auto;
    max-height: auto;
}

.myPokemon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.xclose{
    width: 20px;
    height: 20px;
    color: var(--main-text-color);
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url('../../../public/images/close.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.xclose:hover{
    cursor: pointer;
}

@media (max-width: 650px) {
    .myPokemon {
        height: 80%;
    }

    .myPokemon-title-container {
        height: 10%;
    }

    .myPokemon-content-container {
        flex-direction: column-reverse;
    }

    .content-container, .image-container {
        width: 100%;
        height: 45%;
    }

    .image-container img {
        background-color: red;
    }
}