.myPokemon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 60%;
    z-index: 1000;
    box-shadow: 0 0 1px 1px var(--main-text-color);
    animation: modalGrow .3s ease-in-out;
}

@keyframes modalGrow {
    0% {transform: scale(0);};
    100% {transform: scale(1)};
}

.erro-message-img {
    width: 20px;
    height: 20px;
    background-image: url('../../../public/images/warning.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;
}

.hideComponent {
    display: none;
}

.myPokemon-title {
    font-size: 5vw;
    text-transform: uppercase;
    font-family: 'Climate Crisis', cursive;
    color: var(--opacity-text-color);
    position: absolute;
    top: 0;
    left: 10%;
    transform: translateX(-10%);
}

.xclose{
    color: var(--main-text-color);
    position: absolute;
    top: 20px;
    right: 20px;
}

.xclose:hover{
    cursor: pointer;
}

.myPokemon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.pokemonStats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    width: 100%;
}

.pokemonStats-detailContainer {
    width: 33.33%;
}

.myPokemon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    width: 50%;
    height: 80%;
    cursor: pointer;
}

/* Aplica-se este estilo quando as imagens do pokemon não são encontradas */
.not-Found-Img-MyPokemon {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    cursor: pointer;
}

.not-Found-Img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.myPokemon-img img {
    width: 100%;
    height: 100%;
    max-width: auto;
    max-height: auto;
}

.myPokemon-battleStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}

@media (max-width: 650px) {
    .myPokemon {
        height: fit-content;
        padding-top: 20%;
    }

    .myPokemon-title {
        left: 50%;
        transform: translateX(-50%);
    }

    .myPokemon-battleStats {
        width: 99%;
    }

    .myPokemon-img {
        width: 50%;
    }

    .pokemonStats {
        flex-direction: column;
    }
}