.normalStats {
    display: flex;
    color: var(--detail-text-color);
    font-weight: bold;
    margin-top: 1rem 0;
}

.heightStat {
    margin-right: 5%;
    text-align: center;
}

.weightStat {
    text-align: center;
}

.line {
    width: 80px;
    border-bottom: 3px solid var(--detail-text-color);
}