.brunoArruda {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brunoArruda a {
    color: white;
    text-decoration: none;
}

.brunoArruda a:visited {
    color: white;
}

.brunoAruda--photo {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* border: 1px solid white; */
    /* background-image: url('../../../public/images/avatar.png'); */
    background-image: url('../../../public/images/github.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .2s transform;
}

.brunoAruda--photo:hover {
    transform: scale(1.1);
}

@media (max-width: 620px) {
    .brunoArruda {
        width: 100%;
        justify-content: space-between;
        padding: 0 0 0 20px;
        margin-left: none;
    }
}