.graphicLine {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-weight: bold;
    color: var(--detail-text-color);
}

.content {
    width: 60px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--text-default-size);
    color: var(--main-text-color);
}

.lineStat-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--opacity-text-color);
}

.lineStat{
    height: 10px;
    width: 100px;
    border-right: 2px solid rgb(255, 255, 255);
    background-color: var(--main-text-color);
}

.value {
    width: 2rem;
    font-weight: bold;
}