:root {
  --main-detail-color: rgb(110, 0, 0);
  --main-radius: 10px;
  --main-text-color: rgb(121, 121, 121);
  --opacity-text-color: rgba(121, 121, 121, 0.205);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}