.grass {
    background-color: #45b802;
}

.fire {
    background-color: #c05300;
}

.water {
    background-color: #0051ff;
}

.bug {
    background-color: #778600;
}

.normal {
    background-color: #777759;
}

.poison {
    background-color: #880086;
}

.electric {
    background-color: #b69100;
}

.ground {
    background-color: #ac8e45;
}

.fairy {
    background-color: #b6427c;
}

.fighting {
    background-color: rgb(126, 4, 4)
}

.psychic {
    background-color: #be1a4b;
}

.rock {
    background-color: #8a781e;
}

.ghost {
    background-color: rgb(124, 124, 69);
}

.dark {
    background-color: #4d3b2f;
}

.steel {
    background-color: #92929b;
}

.ice {
    background-color: #519e9a;
}

.dragon {
    background-color: #3e11b1;
}

.flying {
    background-color: #8f81b4;
}