.bg-grass {
    background-color: #7AC74C;
}

.bg-fire {
    background-color: #EE8130;
}

.bg-water {
    background-color: #6390F0;
}

.bg-bug {
    background-color: #A6B91A;
}

.bg-normal {
    background-color: #A8A77A;
}

.bg-poison {
    background-color: #A33EA1;
}

.bg-electric {
    background-color: #F7D02C;
}

.bg-ground {
    background-color: #E2BF65;
}

.bg-fairy {
    background-color: #D685AD;
}

.bg-fighting {
    background-color: #C22E28;
}

.bg-psychic {
    background-color: #F95587;
}

.bg-rock {
    background-color: #B6A136;
}

.bg-ghost {
    background-color: #735797;
}

.bg-dark {
    background-color: #705746;
}

.bg-steel {
    background-color: #B7B7CE;
}

.bg-ice {
    background-color: #96D9D6;
}

.bg-dragon {
    background-color: #6F35FC;
}

.bg-flying {
    background-color: #A98FF3;
}